header {
  background-color: #444;
  color: white;
  padding: 0.6rem 0;
}
header h1 {
  text-align: center;
  font-size: 5vmin;
}

.container {
  padding: 1rem 0.5rem;
  margin: auto;
  max-width: 800px;
}

.lead {
  background-color: #eee;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.5rem;
  box-sizing: border-box;
  font-size: 1.2rem;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.ul_list li {
  display: inline-block;
  padding-right: 0em;
}

/* pc */
.pref_box {
  margin-bottom: 1rem;
  padding: 0rem;
}
.pref_box ul {
  padding: 0 1rem;
}
.pref_box label {
  font-size: 1rem;
  display: inline-block;
}
/* sp */
@media (max-width: 767px) {
  .pref_box ul {
    padding: 0;
  }
  .pref_box li {
    display: inline-block;
    width: 25%;
  }
}
